name: Python application test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Replace this with the version of Python you're using

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install tomli  # or any other dependencies you may have
        # If you have a requirements.txt file, uncomment the next line
        # pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest
